.sidebar_conteudo {
    background: linear-gradient(to bottom, #000000, #070b3b, #141c6e);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15%;
    height: 100%;
    overflow-x: hidden;
    transition: background 0.5s ease; /* Adiciona uma transição suave */
}

.pagina_conteudo {
    margin-left: 15%;
}

.sidebar_header {
    justify-content: center;
    text-align: center;

    & .logo_cripto {
        width: 25%;
        height: 25%;
    }

    & .linha {
        color: rgba(250, 324, 214, 0.4);
    }
}

